{% extends "base.html" %}

{% block title %}Edit your Gif{% endblock title %}

{% block js %}
	{{ super() }}
	<script type="text/javascript" src="/static/js/editor.js"></script>
{% endblock js %}

{% block body %}
<div id="header">
	<h1>You<span>GIF</span> Editor</h1>
</div>
<div id="container">
	<div id="toolbar">
		<h3 class="empty">Start by dragging images here.</h3>
	</div>
	<div id="window">
		<div id="images">
			{% for frame in frames %}
				<img src="{{ frame }}" />
			{% endfor %}
		</div>
		<div id="stage" draggable="true">
		</div>
	</div>
	<a href="#" id="submit">FINISH!</a>
</div>
{% endblock body %}
